h1 {
  color: pink;
}
.tieude {
  color: #A1C9F1;
  font-weight: bold;
  font-size: 18pt;
  font-family: Eras Bold ITC
}
.noidung {
  color: #EFB0C9;
  font-style: normal;
  font-size: 14pt;
  font-family: Times New Roman
}
