.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
     flex: 20%;
     background-color: cyan;
     background: url("images/logoNQ.png") center/100% 100%;
}
.menu{
     flex:5%;
     background-color: lightblue;
}
.menu a{
     padding: 15px 20px;
     color: blue;
}
.menu hover{
     background-color: lightgray;
     color: black;
}
.content iframe{
     flex: 1;
     boder: none;
     width: 100% 
     height:100%;
     background-color: white;
}
.footer{
     flex: 5%;
     background-color: pink;
}

h1 { color: pink; text-align: center;
}
.tieude {
  color: #A1C9F1;
  font-weight: bold;
  font-size: 18pt;
  font-family: Eras Bold ITC;
}
.noidung {
  color: #EFB0C9;
  font-style: normal;
  font-size: 14pt;
  font-family: Times New Roman;
}
