h1 {
  color: pink;
}
.tieude1 {
  color: #A1C9F1;
  font-weight: bold;
  font-size: 18pt;
  font-family: Eras Bold ITC
}
.noidung1 {
  color: #EFB0C9;
  font-style: normal;
  font-size: 14pt;
  font-family: Times New Roman
}
.tieude2 {
  color: tomato;
  font-style: bold;
  font-size: 18pt;
}
.noidung2 {
  color: purple;
  font-style: normal;
  font-size: 14pt;
}
