h1 {
  color: pink;
}
.tieude {
  color: #B5DDD1;
  font-weight: bold;
  font-size: 18pt;
  font-family: Eras Bold ITC
}
.noidung {
  color: purple;
  font-style: normal;
  font-size: 14pt;
  font-family: Times New Roman
}

